@model OrderViewModel

@using (@Html.BeginForm("CreateOrder", "Orders", FormMethod.Post))
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.Model.Id)
        </td>
        <td>
            @Html.TextBoxFor(modelItem => Model.Amount)
            @*@Html.ValidationMessageFor(modelItem => Model.Amount)*@
        </td>
        <td>
            @Html.TextBoxFor(modelItem => Model.Price)
        </td>
        <td>
            @Html.DropDownListFor(modelItem => modelItem.Operation, (IEnumerable<SelectListItem>)ViewData["Operations"], new { @Id = "Operation", @Style = "Width: 150px" })
        </td>
        <td>
            <button id="CreateOrderBtn" onclick="onclickevent(this)">Create Order</button>

            @*<input type="submit" value="Create Order" />*@
        </td>
    </tr>
}
